<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="ext_preview callout callout-notice">
    <div>
        <h4 class="callout-title">
            <f:translate key="LLL:EXT:preview/Resources/Private/Language/locallang_be.xlf:show.title"/>
        </h4>
        <div class="callout-body">
            <f:variable name="linkAvailable">false</f:variable>
            <f:for each="{languages}" as="language">
                <f:if condition="{language.previewLink}">
                    <f:variable name="linkAvailable">true</f:variable>
                </f:if>
            </f:for>
            <f:if condition="{linkAvailable}">
                <f:then>
                    <p><f:translate key="LLL:EXT:preview/Resources/Private/Language/locallang_be.xlf:show.description"/></p>
                </f:then>
                <f:else>
                    <p><f:translate key="LLL:EXT:preview/Resources/Private/Language/locallang_be.xlf:show.description_nolinks"/></p>
                </f:else>
            </f:if>
            <div class="ext_preview__languages">
                <f:for each="{languages}" as="language">
                    <div class="ext_preview__language">
                        <f:if condition="{language.previewLink}">
                            <f:then>
                                <div class="ext_preview__language-title">
                                    <span class="ext_preview__language-title-flag"><core:icon identifier="{language.flagIdentifier}"/></span>
                                    <span class="ext_preview__language-title-language">{language.title}</span>
                                </div>
                                <div class="ext_preview__input">
                                    <input value="{language.url}" class="form-control form-control-sm" size="30" id="input_{language.flagIdentifier}">
                                </div>
                                <div class="ext_preview__actions">
                                    <span class="btn btn-default btn-sm ext_preview__trigger" data-language="{language.flagIdentifier}">
                                        <core:icon identifier="actions-clipboard"/>
                                        <f:translate key="LLL:EXT:preview/Resources/Private/Language/locallang_be.xlf:show.button.copy"/>
                                    </span>
                                    <a class="btn btn-default btn-sm" id="removeLink" href="{language.action}">
                                        <core:icon identifier="actions-delete"/>
                                        <f:translate key="LLL:EXT:preview/Resources/Private/Language/locallang_be.xlf:show.button.delete"/>
                                    </a>
                                </div>
                            </f:then>
                            <f:else>
                                <div class="ext_preview__language-title">
                                    <span class="ext_preview__language-title-flag"><core:icon identifier="{language.flagIdentifier}"/></span>
                                    <span class="ext_preview__language-title-language">{language.title}</span>
                                </div>
                                <div class="ext_preview__actions">
                                    <a class="btn btn-default btn-sm" id="addLink" href="{language.action}">
                                        <core:icon identifier="actions-refresh"/>
                                        <f:translate key="LLL:EXT:preview/Resources/Private/Language/locallang_be.xlf:show.button.generate"/>
                                    </a>
                                </div>
                            </f:else>
                        </f:if>
                    </div>
                </f:for>
            </div>
        </div>
    </div>
    <div class="d-none">
        <span id="ext_preview__notification-title"><f:translate key="LLL:EXT:preview/Resources/Private/Language/locallang_be.xlf:show.notification.title"/></span>
        <span id="ext_preview__notification-body"><f:translate key="LLL:EXT:preview/Resources/Private/Language/locallang_be.xlf:show.notification.description"/></span>
    </div>
</div>
