.ext_preview__language {
    display: flex;
    align-items: center;
    column-gap: 0.6rem;
}

.ext_preview__language:not(:last-child) {
    margin-block-end: 0.4rem;
}

.ext_preview__language-title {
    flex-basis: 160px;
}

.ext_preview__actions {
    display: flex;
    column-gap: 0.2rem;
}
